
@font-face {
    font-family: 'Open Sans', sans-serif;
    src: url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
    font-weight: bold;
    /*700*/
    font-style: normal;
  }
  @font-face {
    font-family: 'Roboto';
    src: url('/fonts/Roboto-Bold.eot');
    src: url('/fonts/Roboto-Bold.eot?#iefix') format('embedded-opentype'), url('/fonts/Roboto-Bold.woff2') format('woff2'), url('/fonts/Roboto-Bold.woff') format('woff'), url('/fonts/Roboto-Bold.ttf') format('truetype'), url('/fonts/Roboto-Bold.svg#RobotoBold') format('svg');
    font-weight: bold;
    /*700*/
    font-style: normal;
  }
  @font-face {
    font-family: 'Roboto';
    src: url('/fonts/Roboto-Light.eot');
    src: url('/fonts/Roboto-Light.eot?#iefix') format('embedded-opentype'), url('/fonts/Roboto-Light.woff2') format('woff2'), url('/fonts/Roboto-Light.woff') format('woff'), url('/fonts/Roboto-Light.ttf') format('truetype'), url('/fonts/Roboto-Light.svg#RobotoLight') format('svg');
    font-weight: 300;
    font-style: normal;
  }
  @font-face {
    font-family: 'Roboto Mono';
    src: url('/fonts/RobotoMono-Light.eot');
    src: url('/fonts/RobotoMono-Light?#iefix') format('embedded-opentype'), url('/fonts/RobotoMono-Light.woff2') format('woff2'), url('/fonts/RobotoMono-Light.woff') format('woff'), url('/fonts/RobotoMono-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
  }
  @font-face {
    font-family: 'Roboto Mono';
    src: url('/fonts/RobotoMono-Regular.eot');
    src: url('/fonts/RobotoMono-Regular?#iefix') format('embedded-opentype'), url('/fonts/RobotoMono-Regular.woff2') format('woff2'), url('/fonts/RobotoMono-Regular.woff') format('woff'), url('/fonts/RobotoMono-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }
  @font-face {
    font-family: 'Roboto Mono';
    src: url('/fonts/RobotoMono-Bold.eot');
    src: url('/fonts/RobotoMono-Bold?#iefix') format('embedded-opentype'), url('/fonts/RobotoMono-Bold.woff2') format('woff2'), url('/fonts/RobotoMono-Bold.woff') format('woff'), url('/fonts/RobotoMono-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
  }
  
  
  body {
    font-family: 'Roboto','Helvetica','Arial', sans-serif;
    line-height: 1.4;
  }
  h1, .h1 {
    font-family: 'Roboto','Helvetica','Arial', sans-serif;
    font-size: 2.5rem;
    font-weight: 900;
  }
  body.separateOnPageNav h2:not(.headerTitleWithLogo), body.separateOnPageNav .h2 {
    font-family: 'Roboto Mono', monospace;
    font-weight: 700;
  }
  h3, h4,
  .h3, .h4 {
    font-weight: 700;
    letter-spacing: 0.01em;
  }
  h2, .h2, h3, h4, h5, h6,
  .h3, .h4, .h5, .h6,
  .docs-prevnext .button span {
    font-family: 'Open Sans','Helvetica','Arial', sans-serif;
  }
  h5, h6, .h5, .h6 {
    font-weight: 600;
  }
  code[class*='language-'], pre[class*='language-'] {
    font-family: 'Roboto Mono', monospace;
    font-weight: 400;
  }
  
  .onPageNav a {
    font-family: 'Roboto Mono', monospace;
    font-weight: 300;
    color: #393939;
    transition: font-weight 0.1s;
  }
  .onPageNav a:hover, .onPageNav .toc-headings > li > a.active {
    color: black;
    font-weight: 700;
  }
  .menu > li {
    font-family: 'Open Sans','Helvetica','Arial', sans-serif;
  }
  .btn, .btn__text,button {
    font-family: 'Open Sans','Helvetica','Arial', sans-serif;
  }
  .docs-prevnext .button span {
    font-size: 1.2rem;
    font-weight: 700;
  }
  